
  <%= simple_form_for @post, html: { class: 'form-horizontal', multipart: true } do |f| %>
    <div class="form-group">
      <%= f.input :image,:label => 'Image' %>
    </div>
    <div class="form-group text-center">
      <%= f.input :caption, class: 'caption-input' %>
    </div>
    <div class="form-group text-center">
      <%= f.button :submit, class: 'btn-success' %>
    </div>
  <% end %>
